:root{
	--edit-height: 159px;
}
body{
	height: 100vh;
	margin: 0px 8px;
	justify-content: flex-end;
	display: flex;
	flex-direction: column;
	background-color: rgb(10,20,30);
	color: #ddd;
	font-size: 1em;
	padding-top:4px;
	box-sizing: border-box;
}

.infobar{ width: 100%; text-align: center;}
.infobar.dark, .infobar a:link{ color: #555; font-size: x-small;}
.infobar a:visited, .infobar a:active{ color: #999; }

#settings,
#textField,
.basicSettings{
	display: flex
}
	
#settings{
	position:fixed;
	top:1.5em;
	left:0;
	margin-top: -140px;
	transition: margin-top 0.1s ease-out;
	width:calc(100vw - 16px);
	margin-left: 8px;
	margin-right: 8px;
	background-color: rgba(20,20,20,0.7);
	flex-wrap:wrap
}

#showSettings:checked ~ #settings{ margin-top: 0px }

.basicSettings{margin-left: 2em}

.setting{
	flex-grow: 1;
	pointer-events:all
}

.inputbox{
	width: 5.5em;
	padding: 2px;
	border:1px solid darkgrey;
	box-sizing:content-box;
	max-height:1.6em;
	margin-right: 0.5em;
}

#embedPrefs .inputbox{
	width: 4em;
}

#embedPrefs,.setting-header{
	display:flex;
}

.setting-header{
	background-color: rgba(20,20,20,0.7);
}

#logoEnabled:not(:checked) ~ .setting{ display:none }

#logoSelection{
	display:flex;
	flex-direction:row-reverse;
}

#imgPreview{
	min-height:50px;
	min-width:50px;
	width:50px;
	height:50px;
	background:white
}

#fileInput,
#showSettings,
#logoEnabled{
	display:none
}

#textDiv{
	width: 100%
}

#input_text{
	width: 100%;
	resize: none;
	box-sizing: border-box
}

.button{
	width: 10%;
	background: #222233 no-repeat center/40%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 60px;
	max-width: 120px;
	cursor: pointer;
	border:none;
	color: #ddd;
}

.button.mini{
	max-height:1.5em;
	max-width:1.5em;
	width:1.5em;
	min-width:1.5em;
	padding: 0.2em !important
}
.button.bar{
	padding: 4px;
	margin-top: 4px;
	width: 100%;
	max-width: unset;
}

label.button{ padding:0 8px }
.setting-header > label{
	position:relative;
	z-index:1;
}
	
.button:hover{ background-color: #224422 }

.button:active,
input[type="checkbox"]:checked + .button{
	background-color: #223311
}

.button[disabled]{ display:none }
#genButton,#selfButton::after{ background-image: url(button-icon.svg) }
#selfButton::after{
	content: "";
	width: 1em;
	height: 1em;
	margin-left: 6px
}
#saveButton{ background-image: url(download.svg) }

#svgContainer{
	height: var(--svg-width);
	width: var(--svg-width)
}

svg{
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: 100%;
}

svg[viewBox="0 0 0 0"]{ display:none !important;opacity:0}

#outputs{
	height: calc(100vh - var(--edit-height));
	flex-grow: 1;
	width: 100%;
	touch-action: none;
}

#feedbackContainer{ display:flex }

.feedback{ width:100% }

.feedback > div {
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 70vw;
}

#outputs,
#svgContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}
