body{
	background-color: rgb(10,20,30);
  padding: 0 4px;
	overflow: hidden;
}
p,
#freePageLink{
	color: #EEEEEE;
	width: 100%;
	line-height: 1;
	}
#freePageLink{ 
	position: relative;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
	bottom: 0px;
	left: 0px;
	background: rgb(46,54,69);
	height: 3em;
	padding: 1em;
	text-align: center;
}
#freePageLink img{
  margin-right: 0.2em;
}
#freePageLink:hover,
#freePageLink:active{
	opacity: 0.8;
}
#feedbackFormat{ display:none; }
.imageContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
}